<%- model_class = Link -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<% @links.each do |link| %>
    <div class="span9">
      <div class="pull-right">

        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_link_path(link), :class => 'btn btn-mini' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    link_path(link),
                    :method => :delete,
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-mini btn-danger' %>
      </div>
      <h1><%= link.name %></h1>
      <p><%= link.description %></p>
      <p> <i class="glyphicon glyphicon-envelope"></i> <%= link.url %>
        <br/>
        <i class="glyphicon glyphicon-globe"></i> <%= link.language %>
        <br /> <i class="glyphicon glyphicon-gift"></i> <%= link.country %>
      </p>      <div>
        <span class="badge badge-success">
          Posted <%=l link.created_at %>
        </span>
      <div class="pull-right">
        <span class="label"><%= link.tags %></span>

      </div>
    </div>
      <hr>

    </div>
<% end %>