<% unless @links_all.blank? %>
    <% @links_all.each do |l| %>
        <tr>
          <td>
            <h4 class=".hglt">
              <%= l.name %>
            </h4>
            <p>
              <a href="<%= l.url %>" target="_blank"><%= l.url %></a>
            </p>
            <p class=".hglt"><%= l.category %></p>
            <span class="label label-default hglt"><%= l.tags %></span>
          </td>

          <td><%= l.created_at %></td>
          <td>1</td>
          <td><%= l.user.email %></td>
        </tr>
        <script>
            $(".hglt").highlight("<%= params[:search] %>");
        </script>
    <% end %>
<% end %>


