<% unless @links.blank? %>
    <% @links.each do |l| %>
        <tr>
          <td>
            <h4>
              <%= l.name %>
            </h4>
            <p>
              <a href="<%= l.url %>" target="_blank"><%= l.url %></a>
            </p>
            <p><%= l.category %></p>
            <span class="label label-default"><%= l.tags %></span>
          </td>

          <td><%= l.created_at %></td>
          <td>1</td>
          <td><%= l.user.email %></td>
        </tr>
        <script>
            $("h4").highlight("<%= params[:search] %>");
        </script>
    <% end %>
<% end %>


