<% unless params[:search].blank? %>
    <% unless @links.blank? && @links_categories.blank? && @links_tags.blank? %>
        <h3>"<%= params[:search] %>" - results 1-<%= @total %>  from <%= @total %> </h3>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Results Found By</th>
            <th>Result</th>
          </tr>
          </thead>
          <tbody>
          <%= render "/home/shared/name_result" %>
          <%= render "/home/shared/category_result" %>
          <%= render "/home/shared/tags_result" %>
          </tbody>
        </table>
        </div>

    <% else %>
        <div>Sorry, no result found with you search keyword "<span class="danger"><%= params[:search] %></span>"</div>
    <% end %>

<% end %>


